% rebase('base.html')
  {{id_igre}} {{poskus}}

  <table>
    <tr>
      <td>
        {{igra.pravilni_del_gesla()}} <br />
        Nepravilni ugibi: {{igra.nepravilni_ugibi()}}
      </td>
      <td>
        <img src="../../img/{{igra.stevilo_napak()}}.jpg" alt="obesanje">
      </td>
    </tr>
  </table>

  % if poskus == model.ZMAGA:
    <span>Čestitke! Zmagal/a si.</span>
    <form method='post' action='/nova_igra/'>
      <input type='submit' value='Nova igra'>
     </form>
  % elif poskus == model.PORAZ:
    <span>Sožalje, več sreče prihodnjič!</span>
    <form method='post' action='/nova_igra/'>
     <input type='submit' value='Nova igra'>
    </form>
  % else:
    <form action="/igra/" method="post">
    Črka: <input type="text" name="crka" autofocus='true'>
    <button type="submit">Pošlji ugib</button>
    </form>

  % end